<table border="1">
  <tr>
    <th><input type="checkbox" [checked]="allSelected()" (click)="onSelectAllServers($event)"></th>
    <th>Host</th>
    <th>Port</th>
    <th>Status</th>
    <th>Reachable</th>
    <th>Workers</th>
    <th>Jobs</th>
  </tr>

  <tr *ngFor="let server of servers; let i=index" [class.unreachable]="!server.isReachable">
    <td><input type="checkbox" [checked]="selected[i]" (click)="onSelectServer(i, $event)"></td>
    <td>{{server.host}}</td>
    <td>{{server.port}}</td>
    <td>{{server.status}}</td>
    <td>{{server.isReachable}}</td>
    <td><a [routerLink]='[server.host, server.port, "workers"]'>Workers</a></td>
    <td><a [routerLink]='[server.host, server.port, "jobs"]'>Jobs</a></td>
  </tr>
</table>
<div>
  <p>For the selected server:</p>
  <div>
    <button (click)="onRunJob()">Run Job</button>
    <input type="text" [(ngModel)]="jobCommand">
  </div>
  <div>
    <br>
    <button (click)="onShutdown()">Shutdown</button>
  </div>
</div>
<router-outlet></router-outlet>
